# ===== Sepolia =====
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/alch_tldPGARocvB552PIF4-W3
DEPLOYER_PRIVATE_KEY=ea0cc6b4afe59dffb3fc745e5f0a6e57291c602d3f8b2fcbc03f20960950e72d
ETHERSCAN_API_KEY=5ZY6V7EFVJB6CIPZ2BFDY6YFDX4M93CD3M
# Các node (bridge) - phân tách bằng dấu phẩy, theo thứ tự nodeIndex 0,1,2...
NODE_PRIVATE_KEYS=
# ===== Chainlink (tùy chọn) =====
LINK_TOKEN=0x779877A7B0D9E8603169DdbD7836e478b4624789
CHAINLINK_OPERATOR=<ĐỊA_CHỈ_OPERATOR>
CHAINLINK_JOB_ID=<JOB_ID_BYTES32_HOẶC_CHUỖI_NGẮN>
CHAINLINK_FEE=0.1
ENABLE_ORACLE_GATE=0
# ===== IPFS (tùy chọn) =====
PINATA_JWT=
